In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [3]:
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

In [4]:
# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [5]:
# Combine the data into a single dataset
combined_data = pd.merge(mouse_metadata, study_results, on="Mouse ID")

In [6]:
# Display the data table for preview
combined_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [7]:
# Checking the number of mice
mouse_count = len(combined_data["Mouse ID"].unique())
mouse_count

249

In [8]:
# check the data for any mouse ID with duplicate time points and remove any data associated with that mouse ID
dup_mouse_id = combined_data.loc[combined_data.duplicated(subset=['Mouse ID', 'Timepoint',]),'Mouse ID'].unique()

clean_combined_data = combined_data[combined_data['Mouse ID'].isin(dup_mouse_id)==False]

In [9]:
# Checking the number of mice in the clean DataFrame
clean_combined_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [33]:
#Generate a summary statistics table consisting of the mean, median, variance, standard deviation, and SEM of the tumor volume for each drug regimen

clean_combined_data.groupby("Drug Regimen")

summary_table = clean_combined_data.groupby('Drug Regimen').agg(\
        # Get the mean of the 'Tumor Volume (mm3)' column\
        Mean = ('Tumor Volume (mm3)', np.mean),\
        # Get the median of the 'Tumor Volume (mm3)' column\
        Median = ('Tumor Volume (mm3)', np.median),\
        # Get the variance of the 'Tumor Volume (mm3)' column\
        Variance = ('Tumor Volume (mm3)', np.var),\
        # Get the standard deviation of the 'Tumor Volume (mm3)' column\
       Std_Dev = ('Tumor Volume (mm3)', np.std),\
        # Get the standard error of measurement (SEM) of the 'Tumor Volume (mm3)' column\
       SEM=('Tumor Volume (mm3)', st.sem)\
).round(3)
summary_table

                Mean  Median  Variance  Std_Dev    SEM
Drug Regimen
Capomulin     40.676  41.558    24.948    4.995  0.329
Ceftamin      52.591  51.776    39.290    6.268  0.470
Infubinol     52.885  51.821    43.129    6.567  0.492
Ketapril      55.236  53.699    68.554    8.280  0.604
Naftisol      54.332  52.509    66.173    8.135  0.596
Placebo       54.034  52.289    61.168    7.821  0.581
Propriva      52.321  50.446    43.852    6.622  0.544
Ramicane      40.217  40.673    23.487    4.846  0.321
Stelasyn      54.233  52.432    59.451    7.710  0.573
Zoniferol     53.237  51.818    48.533    6.967  0.516

In [11]:
#Generate a bar plot using both Pandas's `DataFrame.plot()` and Matplotlib's `pyplot` that shows  the number of total mice for each treatment regimen throughout the course of the study.

 # * **NOTE:** These plots should look identical.

    
#clean_combined_data    
    
mouse_count2 = len(clean_combined_data["Mouse ID"].unique())
mouse_count2

248

In [17]:
#clean_combined_data.groupby("Drug Regimen")
#mouse_per_reg = clean_combined_data.groupby("Drug Regimen").count("Mouse ID")
#mouse_per_reg = clean_combined_data.groupby(["Drug Regimen"]).count()["Mouse ID"].rename("Number of Mice in Regimen")
mouse_per_reg = clean_combined_data.groupby(["Drug Regimen"]).count()["Mouse ID"].unique().rename("Number of Mice in Regimen")
mouse_per_reg

AttributeError: 'numpy.ndarray' object has no attribute 'rename'